.submit-loading {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100vh;
	z-index: 2;
	display: none;
	place-items: center;
}

.switch-loading {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100vh;
	z-index: 2;
	display: none;
	place-items: center;
}

.tip {
	width: 100%;
	font-size: 14px;
	color: red;
	margin-left: 5px;
}

.minh-150 {
	min-height: 150px;
}

.bdr {
	border: 1px solid red;
	border-radius: 3px;
}

.bdy {
	border: 1px solid rgb(255, 217, 0);
	border-radius: 5px;
}


.bg-form {
	background-color: rgb(255, 238, 163);
}

.bg-field {
	background-color: rgb(255, 252, 241);
}

.bg-label {
	background-color: rgb(255, 217, 0);
}

.bg-btn {
	background-color: rgb(0, 179, 255);
}